body {
    background-image: url('/static/images/background.jpg');
    font-family: Arial, sans-serif;
}


header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: lightgreen;
    background: #4CAF50;
}

.logo{
    width: 75px;
    height: 75px;
}

.Button{
    color: white;
    padding: 14px 15px;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
    height: 20px;
}

.Button:hover{
    cursor: pointer;
}

.cardContainer{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 3%;
    justify-content: center;
}

.card {
    position: relative;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(242, 247, 199);
    border-width: 10px;    
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px 10px;
}

.imagenPerro
{
    width: 300px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    display: block;
}

.mapa
{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 10px;
    display: block;
}