body {
    background-image: url('/static/images/background.jpg');
    font-family: Arial, sans-serif;
}


header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: lightgreen;
    background: #4CAF50;
}

.logo{
    width: 75px;
    height: 75px;
}

.Button{
    color: white;
    padding: 14px 15px;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
    height: 20px;
}

.Button:hover{
    cursor: pointer;
}