<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

  <header>
    <a class="logoClick" href="{{ url_for('home') }}"><img class="logo"
        src="{{ url_for('static', filename='/images/logo.png')}}"></a>
    <div class="titulopagina">
      <img src="{{url_for('static', filename = 'images/titulo1.png')}}">
    </div>
        <div class="headerButtons">
            <a class="Button" id="buscar" href="busqueda" >Busco a mi mascota</a>
            <a class="Button" id="registrar_mascota" href="{{ url_for('registrar_mascota') }}" >Registrar mascota</a>
            <a class="Button" id="centros" >Mostrar Centros</a>
            <a class="Button" id="centros" href="{{url_for('registrar_centro')}}">Registrar Centro</a>
            <a class="Button" id="login" href="{{ url_for('iniciar_sesion') }}">Log In</a>
            <a class="Button" id="perfil" href="{{ url_for('perfil') }}">Ver perfil</a>
    </div>
  </header>
  <main>
    <div class="todo">

      {% block content %}
      {# Template inserted #}
      {% endblock %}

    </div>
  </main>
  <footer>
    <div class="footerContent">
      <a href="{{ url_for('home') }}"><img class="logoFooter" src="{{ url_for('static', filename='/images/logo.png')}}"></a>
      <ul>
        <li><a href="#">Encontré una Mascota</a></li>
        <li><a href="#">Busco a mi Mascota</a></li>
        <li><a href="#">Mostrar Centros</a></li>
        <li><a href="#">Registrar Centros</a></li>
      </ul>
      <ul>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Trabaje con Nosotros</a></li>
      </ul>
    </div>
    <hr>
    <p>Copyright © 2024. All rights reserved.</p>
  </footer>

</body>

</html>