{% extends 'base.html' %}

{% block title %} Buscar mascota {% endblock %}

{% block content %}

<div class="busquedaAnimal">
    <div class="bienvenida">
        <h1>Busque mascotas:</h1>
    </div>
    <form action="/resultado" class="" method="POST">
        <div class="formContent">
            <div class="inputBox">
              <label for="nombre">Nombre</label>
              <input type="text" name="fnombre" id="fnombre" placeholder="Juan">
            </div>

            <div class="inputBox">
              <label for="especie">Especie</label>
              <input type="text" name="fespecie" id="especie" placeholder="Perro">
            </div>

            <div class="inputBox">
              <label for="raza">Raza</label>
              <input type="text" name="fraza" id="raza" placeholder="Chihuahua">
            </div>

            <div class="inputBox">
              <label for="provincia">Provincia</label>
              <input type="text" name="fprovincia" id="provincia" placeholder="Buenos Aires">
            </div>

            <div class="inputBox">
              <label for="municipio">Municipio</label>
              <input type="text" name="fmunicipio" id="municipio" placeholder="CABA">
            </div>

            <div class="inputBox">
              <label for="localidad">Localidad</label>
              <input type="text" name="flocalidad" id="localidad" placeholder="CABA">
            </div>

        </div>
        <button type="submit">Buscar</button>
    </form>
</div>

{% endblock %}
