{% extends 'base.html' %}

{% block content %}

<div class="iniciar_sesion">
    <div class="titulo_buscar">
        <h1>Busque a su mascota:</h1>
    </div>
    <br>
    <form action="" class="form_iniciar_sesion">
        <div>
            <label for="firstname">Nombre</label>
            <input type="text" name="fname" id="fnombre">

            <label for="lastname">Especie</label>
            <input type="text" name="fespecie" id="especie">

            <label for="mail">Raza</label>
            <input type="text" name="fraza" id="raza">
        </div>
        <input class="boton" type="button" value="Buscar">
    </form>
</div>

{% endblock %}
