{% extends 'base.html' %}

{% block title %} Contacto {% endblock %}

{% block content %}
<div class="contacto">

    <h1>Contacto</h1>
    <br>
    <h2>En caso de querer comunicarse con nosotros, les dejamos nuestros emails.</h2>
    <br>
    <div class="tabla_email">

        <table>
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Simon Wallace</td>
                    <td>swallace@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Tomas ALberto Pla</td>
                    <td>tpla@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Luciano Kevin Bogado</td>
                    <td>lbogado@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Facundo Nahuys</td>
                    <td>fnahuys@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Matias Ronco</td>
                    <td>mronco@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Kevin Edgardo Rojas Calizaya</td>
                    <td>krojas@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Ricardo Manuel Rabanal Silva</td>
                    <td>rrabanals@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Agustin Julian</td>
                    <td>ajulian@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Santiago Martin</td>
                    <td>sanmartin@fi.uba.ar</td>
                </tr>
                <tr>
                    <td>Maycol Mei Li</td>
                    <td>mmeili@fi.uba.ar</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}