{% extends 'base.html' %}

{% block content %}



<div class="cardContainer">
    <div class="card" id="1">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
    <div class="card" id="2">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
    <div class="card" id="3">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
    <div class="card" id="4">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
    <div class="card" id="5">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
    <div class="card" id="6">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/PerroPlaceholder.jpg') }}">
        <div class="divMapa">
            <img class="imagenMapa" src="{{ url_for('static', filename='/images/MapaPlaceholder.png') }}">
        </div>
        <div class="textoCarta">
            <h2>Buscamos a Rufus!!</h2>
            <p>Se perdio alrededor de la estacion belgrano</p>
            <p>Es un golden retreiver claro, responde al nombre rufus.</p>
        </div>
    </div>
</div>

{% endblock %}