{% extends 'base.html' %}

{% block content %}



<div class="cardContainer">
    <div class="card" id="1">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="2">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="3">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="4">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="5">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="6">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="7">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="8">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="9">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">
        
        </div>
    </div>
    <div class="card" id="9">
        <img class="imagenPerro" src="{{ url_for('static', filename='/images/logo.png') }}">
        <div class="divMapa">

        </div>
    </div>
</div>

{% endblock %}