{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="bienvenida">
    <h1>¡Si perdiste a tu mascota estas en el lugar indicado!</h1>
    <br>
    <h2>Encontrar a nuestro amigo perdido puede ser angustiante. </h2>
    <br>
    <h2>Estamos aquí para ayudarte a que te reunas de nuevo con tu mascota amada.</h2>
    <br>
    <h2>Explora nuestras tarjetas y ayuda a difundir la palabra para que estos animales encuentren su camino de regreso a casa.</h2>
    <br>
</div>

{% include 'mostraranimales.html'%}

{% endblock %}