{% extends 'base.html' %}

{% block content %}


<div class="iniciar_sesion">
    <form action="/login" method="POST" class="form_iniciar_sesion">
        <div>
            <label for="username">Nombre de usuario</label>
            <input type="text" name="user" id="username" required/>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required/>
        </div>
        <input class="boton" type="submit" value="Iniciar sesión">
        <a href="{{ url_for('registrar_usuario') }}">Crear cuenta nueva</a>
    </form>
</div>



{% endblock %}
