{% block content %}

<div class="cardContainer">
    {% for animal in data %}
        <div class="card" id="1">
            <img class="imagenAnimal" src="{{ animal[10] }}">

            <div class="textoCarta">
                <h2>Nombre del animal: {{animal[2]}}</h2>
                <a href="/perfilajeno?id={{ animal[1] }}">{{ data2[animal[1]-1]['nombre'] }}</a>
                <p>Se perdió en los alrededores de: {{ animal[7] }}</p>
                <p>Especie: {{ animal[3] }}</p>
                <p>Raza: {{ animal[4] }}</p>
            </div>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q={{ animal[5] | urlencode }}+{{ animal[6] | urlencode }}+{{ animal[7] | urlencode }}+{{ animal[8] | urlencode }}+{{ animal[9] | urlencode }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
