{% extends 'base.html' %}

{% block title %} Mi perfil {% endblock %}

{% block content %}
<div class="Miperfil">
    <h1>Mi Perfil</h1>
        <div class="foto-perfil">
            <img src="{{url_for('static',filename = 'images/perfil.png')}}">
        </div>
        <div class="info-perfil">
            <label for="nombre">Nombre y Apellido:</label>
            <p id="nombre">{{nombre}}</p>
            <br>
            <label for="email">Correo Electrónico:</label>
            <p id="email">{{email}}</p>
            <br>
            <label for="telefono">Teléfono:</label>
            <p id="telefono">{{telefono}}</p>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    
    <h2>Animales registrados por mi:</h2>
    </div>

{%include 'resultadosperfil.html'%}
{% endblock %}
