{% extends 'base.html' %}

{% block title %} Mi perfil {% endblock %}

{% block content %}
<div class="Miperfil">
    <div class="titulo">
        <h1>Mi Perfil</h1>
    </div>
        <div class="info-perfil">
            <label for="nombre">Nombre y Apellido:</label>
            <p id="nombre">{{nombre}}</p>
            <br>
            <label for="email">Correo Electrónico:</label>
            <p id="email">{{email}}</p>
            <br>
            <label for="telefono">Teléfono:</label>
            <p id="telefono">{{telefono}}</p>
            <form action="/logout" method="post">
                <button type="submit" id="logout" >Logout</button>
            </form>
        </div>
    
    <h2>Mascotas registradas por mi:</h2>
    </div>

{%include 'resultadosperfil.html'%}
{% endblock %}
