{% extends 'base.html' %}

{% block title %} Perfil de {{ nombre }} {% endblock %}

{% block content %}

<div class="PA">
    
    <div class="perfil-ajeno">
        <h1>Perfil de : {{nombre}} {{apellido}}</h1>
        <div class="info-ajeno">
            <div>
                <label for="email">Email:</label>
                <p id="nombre">{{mail}}</p>
            </div>
            <div>
                <label for="telefono">Telefono:</label>
                <p id="telefono">{{numero}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
