{% extends 'base.html' %}

{% block content %}

<div class="PA">
    <div class="imagen-ajeno">
        <img src="{{url_for('static', filename='images/perfil.png')}}">
    </div>
    
    <div class="perfil-ajeno">
        <h1>Perfil de : {{nombre}} {{apellido}}</h1>
        <div class="info-ajeno">
            <label for="email">Email:</label>
            <p id="nombre">{{mail}}</p>
            <label for="telefono">Telefono:</label>
            <p id="telefono">{{numero}}</p>
        </div>
    </div>
</div>


{% endblock %}
