{% extends 'base.html' %}

{% block content %}

<div class="Info">
    <h1>¿Quiénes somos?</h1>
    <p>Somos un grupo de estudiantes de la Universidad de Buenos Aires que se encuentran cursando la materia "Introduccion al Desarrollo de Software".</p><br>
    <p>En esta oportunidad presentamos nuestra pagina, como parte de un trabajo practico.</p><br>
    <p>Nuestra mision es ayudar a los ciudadanos a poder encontrar a sus mascotas perdidas, publicar refugios, animales perdidos, etc.</p><br>

    <h2>Integrantes:</h2><br>
    <ul>
        <li>Tomas Alberto Pla</li>
        <li>Simon Wallace</li>
        <li>Luciano Kevin Bogado</li>
        <li>Facundo Nahuys</li>
        <li>Matias Ronco</li>
        <li>Kevin Edgardo Rojas Calizaya</li>
        <li>Ricardo Manuel Rabanal Silva</li>
        <li>Agustin Julian</li>
        <li>Santiago Martin</li>
        <li>Maycol Mei Li</li>
    </ul>
   
</div>

{% endblock %}