{% extends 'base.html' %}

{% block content %}

<div class="iniciar_sesion">
    <form action="/mandar_usuario" method="POST" class="form_iniciar_sesion">
        <div>
            <label for="fname">Nombre</label>
            <input type="text" name="fname" id="firstname">

            <label for="lname">Apellido</label>
            <input type="text" name="lname" id="lastname">

            <label for="email">Correo electronico</label>
            <input type="text" name="email" id="mail">

            <label for="phone">Numero de telefono</label>
            <input type="text" name="phone" id="phone">

            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
        </div>
        <input class="boton" type="submit" value="Registrarte">   
    </form>
</div>


{% endblock %}
