{% extends 'base.html' %}

{% block title %} Registrar mascota perdida {% endblock %}

{% block content %}

<div class="iniciar_sesion">
    <div class="titulo_registro">Registre a su mascota perdida:</div>
    <form action="/cargar_mascota" id="animalForm" class="form_iniciar_sesion" method='POST'>
        <div>
            <label for="fnombre">Nombre</label>
            <input type="text" name="fname" id="fnombre" required>

            <label for="especie">Especie</label>
            <input type="text" name="fespecie" id="especie" required>

            <label for="raza">Raza</label>
            <input type="text" name="fraza" id="raza" required>

            <label for="provincia">Provincia</label>
            <input type="text" name="fprovincia" id="provincia" required>

            <label for="municipio">Municipio</label>
            <input type="text" name="fmunicipio" id="municipio" required>

            <label for="localidad">Localidad</label>
            <input type="text" name="flocalidad" id="localidad" required>

            <label for="calle">Calle</label>
            <input type="text" name="fcalle" id="calle" required>

            <label for="numero">Numero</label>
            <input type="number" name="fnumero" id="numero" required>

            <label for="image">Subir enlace de foto:</label>
            <input type="text" name="ffoto" id="foto" required>
        </div>
        <input class="boton" type="submit" value="Registrar">
    </form>
</div>

{% endblock %}
