{% extends 'base.html' %}

{% block content %}

<div class="iniciar_sesion registrar">
    <form action="" class="form_iniciar_sesion">
        <div>
            <label for="firstname">Nombre del centro</label>
            <input type="text" name="fname" id="fnombre">

            <label for="lastname">Direccion</label>
            <input type="text" name="fdirec" id="direccion">

            <label for="mail">mail</label>
            <input type="text" name="email" id="mail">
        </div>
        <input class="boton" type="button" value="Buscar">
    </form>
</div>

{% endblock %}
