{% extends 'base.html' %}

{% block title %} Registrar mascota perdida {% endblock %}

{% block content %}

<div class="busquedaAnimal">
    <div class="bienvenida">
      <h1>Registre a su mascota perdida:</h1>
    </div>
    <form action="/cargar_mascota" id="animalForm" class="" method='POST'>
        <div class="formContent">
            <div class="inputBox">
              <label for="fnombre">Nombre</label>
              <input type="text" name="fname" id="fnombre" placeholder="Juan" required>
            </div>

            <div class="inputBox">
              <label for="especie">Especie</label>
              <input type="text" name="fespecie" id="especie" placeholder="Perro" required>
            </div>

            <div class="inputBox">
              <label for="raza">Raza</label>
              <input type="text" name="fraza" id="raza" placeholder="Pastor Aleman" required>
            </div>

            <div class="inputBox">
              <label for="provincia">Provincia</label>
              <input type="text" name="fprovincia" id="provincia" placeholder="Buenos Aires" required>
            </div>

            <div class="inputBox">
              <label for="municipio">Municipio</label>
              <input type="text" name="fmunicipio" id="municipio" placeholder="CABA" required>
            </div>

            <div class="inputBox">
              <label for="localidad">Localidad</label>
              <input type="text" name="flocalidad" id="localidad" placeholder="CABA" required>
            </div>

            <div class="inputBox">
              <label for="calle">Calle</label>
              <input type="text" name="fcalle" id="calle" placeholder="Av Independencia" required>
            </div>

            <div class="inputBox">
              <label for="numero">Numero</label>
              <input type="number" name="fnumero" id="numero" placeholder="123" required>
            </div>

            <div class="inputBox">
              <label for="image">Subir enlace de foto</label>
              <input type="text" name="ffoto" id="foto" placeholder="https://..." required>
            </div>
        </div>
        <button type="submit">Registrar</button>
    </form>
</div>

{% endblock %}
