{% extends 'base.html' %}

{% block content %}

<div class="iniciar_sesion">
    <form action="" class="form_iniciar_sesion">
        <div>
            <label for="firstname">Nombre del centro</label>
            <input type="text" name="fname" id="fnombre">

            <label for="lastname">Direccion</label>
            <input type="text" name="fdirec" id="direccion">

            <label for="mail">Email</label>
            <input type="text" name="email" id="mail">

            <label for="image">Subir foto:</label>
            <div class="subir_imagen">
                <input class="elegir_archivo" type="file" name="file" id="file">
                <label for="file" class="subir_archivo">Seleccionar archivo</label>
            </div>

        </div>
        <input class="boton" type="button" value="Buscar">
    </form>
</div>

{% endblock %}
