<!DOCTYPE html>
<html>
<body>

<h2>Insertar Animal Form</h2>

<form action="/animalescargar" method="post">
  <label for="nombre">Nombre:</label><br>
  <input type="text" id="nombre" name="nombre"><br>
  <label for="especie">Especie:</label><br>
  <input type="text" id="especie" name="especie"><br>
  <label for="raza">Raza:</label><br>
  <input type="text" id="raza" name="raza"><br>
  <label for="direccion">Direccion:</label><br>
  <input type="text" id="direccion" name="direccion"><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>